/*
	GhuGhu Agency
	Author: Wahid Polin
	Version: 0.0.1
*/

@import 'base/reset.scss';
@import 'base/variables.scss';
@import 'base/mixins.scss';
@import 'base/base.scss';

@import 'layout/nav.scss';
@import 'layout/header.scss';
@import 'layout/aside.scss';
@import 'layout/footer.scss';

@import 'modules/typography.scss';
@import 'modules/blocks.scss';
@import 'modules/buttons.scss';
@import 'modules/sections.scss';
@import 'modules/components.scss';
@import 'modules/forms.scss';
@import 'modules/table.scss';
@import 'modules/animations.scss';

@import 'layout/responsive/big-mobile.scss';
@import 'layout/responsive/tablet.scss';
@import 'layout/responsive/laptop.scss';
@import 'layout/responsive/desktop.scss';


.category-create {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
}

.btn {
  margin-right: 1rem;
}

.quantity-sell {
  width: 5rem;
}
.found-product {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  .found-product-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }
}
.SingleDatePicker {
  width: 100%;
  font-size: large !important;
  .SingleDatePickerInput {
    width: 100%;
    .DateInput {
      width: 100%;
      .DateInput_input {
        font-size: 1rem;
        line-height: 1.5;
        padding: 5px 11px;
      }
    }
  }
}
.date-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .SingleDatePicker {
    width: 20%;
  }
}
.dropzone {
  cursor: pointer;
  .file-drop {
    border: 1px dashed lightgrey;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
    img {
      margin-right: 10px;
    }
  }
}
.loader-wrap > div {
  margin-left: auto;
  margin-right: auto;
}
.card-img {
  img {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 99%;
  }
}
body {
  font-size: x-large !important;
  .page-content {
    margin-top: 8rem;
  }
  .container {
    width: 99%;
    .dark {
      font-size: large !important;
    }
    .btn {
      font-size: large !important;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
    .uah {
      margin-left: 2px;
      font-size: smaller;
    }
    input {
      font-size: large !important;
    }
    .cash {
      margin-top: 1rem;
    }
  }
  div > .fade > .tooltip {
    width: 320px;
    .tooltip-inner {
      max-width: none;
      width: 100%;
    }
  }
  .show-action-details {
    max-width: none;
  }
}