.navbar-brand  span{
  color: #fed136;
  font-size:25px;
  font-weight:700;
  letter-spacing:0.1em;
  font-family: "Open sans", "Sans Serif";
}
.navbar-brand {
  color: #fff;
  font-size:25px;
  font-family: "Open sans", "Sans Serif";
  font-weight:700;
  letter-spacing:0.1em
}

.navbar-nav .nav-item .nav-link{
  padding: 1.1em 1em!important;
  font-size: 120%;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  font-family: "Open sans", "Sans Serif";
}
.navbar-nav .nav-item .nav-link:hover{color:#fed136;}
.navbar-expand-md .navbar-nav .dropdown-menu{
  border-top:3px solid #fed136;
}
.dropdown-item:hover{background-color:#fed136;color:#fff;}
nav{-webkit-transition: padding-top .3s,padding-bottom .3s;
  -moz-transition: padding-top .3s,padding-bottom .3s;
  transition: padding-top .3s,padding-bottom .3s;
  border: none;
}

.shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #212529;
}

/* mobile view */
@media (max-width:500px)
{
  .navbar-nav{
    background-color:#000;
    border-top:3px solid #fed136;
    color:#fff;
    z-index:1;
    margin-top:5px;
  }
  .navbar-nav .nav-item .nav-link{
    padding: 0.7em 1em!important;
    font-size: 100%;
    font-weight: 500;
  }
  .banner-text{
    padding:150px 0 150px 0;
  }
  .banner-heading{
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .banner-sub-heading{
    font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    margin-bottom: 40px;
  }

}

@media (max-width:768px){
  .banner-text{
    padding:150px 0 150px 0;
  }
  .banner-sub-heading{
    font-size: 23px;
    font-weight: 200;
    line-height: 23px;
    margin-bottom: 40px;
  }
}

