<nav class="navbar fixed-top navbar-expand-lg hotel-admin">
  <div class="container">
    <b><strong><%= link_to 'Головна', root_path, class: 'navbar-brand' %></strong></b>
    <button class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
      <i class="navbar-toggler-icon fa fa-bars"></i>
<!--      <span class="navbar-toggler-icon"></span>-->
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <% if !current_user.name.blank? %>
            <li class='nav-item'><%= link_to current_user.name, edit_user_registration_path, class: 'nav-link' %></li>
          <% else %>
            <li class="nav-item"><%= link_to 'Редагувати профіль', edit_user_registration_path, class: 'nav-link' %></li>
          <% end %>
          <li class="nav-item"><%= link_to 'Вийти', destroy_user_session_path, data: {:confirm => "Вийти?"}, class: 'nav-link' %></li>
      </ul>
    </div>
  </div>
</nav>